#header {
  display: flex;  
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

/* id.header底下的 class.title */
#header .title {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  /* 卡片做為flex-item的排版 */
  flex: 7% 0 1;
  height: 8vw;
  margin: 2px;
  /* 卡片內部元素的排版 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: solid 2px #e0e0e0;
  z-index: 9;
}

/* 主要是卡片圖片太大. 
max-width是對parent相對大小 */
.card {
  display: flex;
  justify-content: space-between;
}
.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 20px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

#header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-end;
  width: 80%;
}

#header .title {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

#header .title img{
  max-width: 3em;
}